<div class="searchBar">
	<link rel="stylesheet" 
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<select id="section" [(ngModel)]='selectedSection'
		(change)='getSectionArticles()'>
		<option *ngFor='let section of sections' [selected]='section === selectedSection'>
			{{section}}
		</option>
	</select>
	<input type="text" [(ngModel)]='query'>
	<button id="search" (click)='search()'>Search <i class="fa fa-search"></i></button>
</div>

<ul class="articles">
	<li *ngFor='let article of articles'>
		<div class="article">
			<a href="{{article.url}}">
				<img *ngIf="article.multimedia[2]" src="{{article.multimedia[2].url}}">
				<div class="content">
					<span><b class="title">{{article.title}}</b></span>
					<br/>
					<span class="abstract">{{article.abstract}}</span>
				</div>
			</a>
		</div>
	</li>
</ul>